<div class="headtitle">
  <img src="../images/coffee.svg">
	<a href="/"><h1 class="blog-title">
		<%= config.title %></h1>
		<p><%= config.description %></p>
	</a>
</div>
<%- partial('_partial/menu') %>


